body{
    background: rgba(255, 255, 255, 0)
}
.container{
    background: rgba(255, 255, 255, 0);
    max-width: 900px;
    margin: 0 auto;
    
}
.navbar-brand {
    margin-left: -10px;
    padding: 0px;
}
.logo {
    margin-top: 0px;
    margin-left: 0px;
    width: 200px;
    height: 100%;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(67, 169, 187, 0.54);
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
