.title-carro p{
    font-size: 40px;
    font-weight: 500;
    color: #ff671c;
}

.container-title{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 21px;
}

.image-carro{
    margin: 100px;
}

.image-carro img{
    width: 100px;
}

.logo {
    margin-top: 0px;
    margin-left: 0px;
    width: 200px;
    height: 100%;
}

.container-button a {
    color: white;
}